[submodule "pnp-skywrath-documentclass"]
	path = pnp-skywrath-documentclass
	url = https://github.com/EagleoutIce/pnp-skywrath-documentclass.git
[submodule "sopra-collection"]
	path = sopra-collection
	url = https://github.com/EagleoutIce/sopra-collection.git
[submodule "lilly-dir"]
	path = lilly-dir
	url = https://github.com/EagleoutIce/lilly-dir
